<aside>
	<nav>
		<ul class="noDetail">
			<li><button class="noDetail"><img src="/assets/frontend/SVG/Icones/List.svg" alt="" width="40" height="40"></li>
				<li><a class="button color-secondary-darker" href="/employee/approuver-personnage"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-character.svg" alt=""><p class="asd-p-rs">Approuver des personnages</p></a></li>
				<li><a class="button color-secondary-darker" href="/employee/approuver-commentaire"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-comment.svg" alt=""><p class="asd-p-rs">Approuver des commentaires</p></a></li>
			<li><a class="button color-secondary-darker" href="/employee/manage-article"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-character.svg" alt=""><p class="asd-p-rs">Gérer les articles</p></a></li>
			<li><a class="button color-secondary-darker" href="/employee/liste-personnage"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-character.svg" alt=""><p class="asd-p-rs">Liste des personnages</p></a></li>
			<li><a class="button color-secondary-darker" href="/employee/liste-utilisateur"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-character.svg" alt=""><p class="asd-p-rs">Liste des comptes utilisateur</p></a></li>
		</ul>
	</nav>
</aside>