<aside>
	<nav>
		<ul class="noDetail">
			<li><button class="noDetail"><img src="/assets/frontend/SVG/Icones/List.svg" alt="" width="40" height="40"></button></li>
			<li><a class="button color-secondary-darker" href="/admin/approuver-personnage"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-character.svg" alt=""><p class="asd-p-rs">Approuver des personnages</p></a></li>
			<li><a class="button color-secondary-darker" href="/admin/approuver-commentaire"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/approved-comment.svg" alt=""><p class="asd-p-rs">Approuver des commentaires</p></a></li>
			<li><a class="button color-secondary-darker" href="/admin/creer-compte-employee"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/register.svg" alt=""><p class="asd-p-rs">Créer un compte employé</p></a></li>
			<li><a class="button color-secondary-darker" href="/admin/manage-article"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/cart-shopping-white.svg" alt=""><p class="asd-p-rs">Gérer les articles</p></a></li>
			<li><a class="button color-secondary-darker" href="/admin/liste-utilisateur"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/user-list-fill.svg" alt=""><p class="asd-p-rs">Liste des comptes utilisateur</p></a></li>
			<li><a class="button color-secondary-darker" href="/admin/liste-personnage"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/user-list.svg" alt=""><p class="asd-p-rs">Liste des personnages</p></a></li>
			<li><a class="button color-secondary-darker" href="/admin/logs"><img class="asd-img-rs" src="/assets/frontend/SVG/Icones/logs.svg" alt=""><p class="asd-p-rs">Logs</p></a></li>
		</ul>
	</nav>
</aside>